{extends './@layout.latte'}
{block content}
<div class="container">

    <div class="homepage">
        <div class="text-center">
            <h1>Oops!</h1>
        </div>
    </div>
    <div class="text-center">

        <h2>Omlouváme se, ale tato stránka neexistuje.</h2>
        <p><small>error 404</small></p>
        <a href="{link Homepage:default}" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span> Zpět na domovskou stránku</a>
    </div>


</div>
