{block content}

<div class="container">
    <h1 class="text-center">Administrace JOKERu</h1>
    <div class="well">
        <p>Vítejte v adminitraci JOKERu. V nabídce si můžete vybrat z několika možností, tak neváhejte a pusťte se do toho!</p>
    </div>
</div>
