<!DOCTYPE html>
<html>
<head>
	<title>{ifset title}{include title|stripHtml} | {/ifset}JOKER - Web plný zábavy</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css">
	<link rel="stylesheet" href="{$basePath}/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">

	<script src="{$basePath}/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
	

	<div class="content-wrapper">
		<header>
			<div class="main-navbar">
				<nav class="navbar navbar-inverse navbar-static-top">
					<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#"><img src="{$basePath}/img/logo.png" alt="Dispute Bills">
						</a>
					</div>
						<div id="navbar3" class="navbar-collapse collapse">
							{control menu, $menuId}
						</div>
					<!--/.nav-collapse -->
					</div>
				<!--/.container-fluid -->
				</nav>
			</div>
		</header>
		{include content}
		<footer class="main-footer">
			<div class="container">
				<p>Copyright &copy; Filip Hájek</p>
			</div>
		</footer>
	</div>

	{block scripts}
		<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
		<script src="{$basePath}/js/vendor/jquery-1.11.2.min.js"></script>
		<script src="{$basePath}/js/vendor/bootstrap.min.js"></script>
		<script src="{$basePath}/js/vendor/particles.min.js"></script>
		<script src="{$basePath}/js/main.js"></script>
	{/block}
</body>
</html>